@model IEnumerable<SmartWorkoutsWeb.Models.User_Progress>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Wieght)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Waist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Breast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Measurement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Wieght)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Waist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Breast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Measurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Progress }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Progress }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Progress })
        </td>
    </tr>
}

</table>
