@model IEnumerable<SmartWorkoutsWeb.Models.WorkoutElements>
<div id="accordion">
    @if (Model != null)
    {
        string collapseNum ="";
        int i = 1;
        foreach (var item in Model)
        {
            collapseNum = "collapse"+item.Exercises.ID_Exercise;
          
            if (i == 1)
            {
                <div class="card">
                    <div class="card-header" id="heading_@item.Exercises.ID_Exercise">
                        <button class="btn  BtnAccordion " data-toggle="collapse" onclick="test(this)" data-target="#@collapseNum" aria-expanded="true" aria-controls="@collapseNum">
                            <i class="fa fa-minus" aria-hidden="true"></i> @item.Exercises.Name_Exercise
                        </button>
                    </div>

                    <div id="@collapseNum" class="collapse show" aria-labelledby="heading_@item.Exercises.ID_Exercise" data-parent="#accordion">
                        <div class="card-body text-center">
                            <img  src="~/Content/Images/ExerciseGifs/@item.Exercises.PicturePath" class="img-fluid "/>
                            <p class="text-justify mt-3 TextAboutExercise">@item.Exercises.Description_Exercise</p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-header" id="heading_@item.Exercises.ID_Exercise">
                        <button class="btn  BtnAccordion" data-toggle="collapse" onclick="test(this)" data-target="#@collapseNum" aria-expanded="false" aria-controls="@collapseNum">
                            <i class="fa fa-plus" aria-hidden="true"></i> @item.Exercises.Name_Exercise
                        </button>
                    </div>

                    <div id="@collapseNum" class="collapse" aria-labelledby="heading_@item.Exercises.ID_Exercise" data-parent="#accordion">
                        <div class="card-body text-center">
                            <img src="~/Content/Images/ExerciseGifs/@item.Exercises.PicturePath" class="img-fluid" />
                            <p class="text-justify mt-3 TextAboutExercise">@item.Exercises.Description_Exercise</p>
                        </div>
                    </div>
                </div>
            }
            i++;
        }
    }
</div>

